{% load staticfiles %}
<!-- <link href="{% static 'temps/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'temps/css/sb-admin.css' %}" rel="stylesheet">
<link href="{% static 'temps/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> -->

<!-- <link href="/static/temps/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/temps/css/sb-admin.css" rel="stylesheet">
<link href="/static/temps/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->


<link href="http://pibrewingstaticfiles.s3-eu-west-1.amazonaws.com/temps/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="http://pibrewingstaticfiles.s3-eu-west-1.amazonaws.com/temps/css/temps.css" rel="stylesheet" type="text/css">
<link href="http://pibrewingstaticfiles.s3-eu-west-1.amazonaws.com/temps/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
