<!-- This template extends the base.html template -->
{% extends 'temps/base.html' %}
    {% block content %}
    {% load staticfiles %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> New Batch</h3>
            </div>
            <div class="panel-body">
                <div><img src="{% static 'temps/graph.png' %}" class="img-responsive" alt="Mock graph image for demo"></div>
            </div>
        </div>
    </div>
    {% endblock %}
