<!-- This template extends the base.html template -->
{% extends 'temps/base.html' %}
    {% block content %}
    {% load staticfiles %}
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Create a new Batch</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="/temps/new_batch/" method="post">
                       <!--  {% csrf_token %}
                        {{ form.as_p }} -->
                        {% include 'temps/form.html' %}
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}
