<!-- This template extends the base.html template -->
{% extends 'temps/base.html' %}
    {% block content %}
    {% load staticfiles %}
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> {{ batch.batch_name }}</h3>
                    <p>
                        <button id="start_batch" batch-id="{{ batch.batch_id }}" type="button">Start Batch</button>
                    </p>
                </div>
                <div class="panel-body">
                    <p><b>Start Date:</b> {{ batch.start_date }}</p>
                    <p><b>End Date:</b> {{ batch.end_date }}</p>
                </div>
            </div>
        </div>
    {% endblock %}
