<!-- This template extends the base.html template -->
{% extends 'temps/base.html' %}
    {% block content %}
    {% load staticfiles %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'temps/js/jquery.js' %}"></script>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> {{ batch.batch_name }}</h3>
                    <p>
                        {% if ct.current_batch_id_id == batch.batch_id %}
                            <button id="stop_batch" batch-id="{{ batch.batch_id }}" type="button">Stop Batch</button>
                            (Current Batch)
                        {% else %}
                            <button id="start_batch" batch-id="{{ batch.batch_id }}" type="button">Start Batch</button>
                        {% endif %}
                    </p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <p><b>Beer Type: </b> {{ batch.beer_type }}</p>
                            <p><b>Volume: </b> {{ batch.volume_l }}</p>
                        </div>
                        <div class="col-lg-3">
                            <p><b>Start Date:</b> {{ batch.start_date }}</p>
                            <p><b>End Date:</b> {{ batch.end_date }}</p>
                        </div>
                    </div>
                </div>
                <div id="single_batch_chart">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>

<script type="text/javascript"> 
    alert("View");
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var djangodata = {{djangodict|safe}};
      //var djangodata = dataset;
      var data = google.visualization.arrayToDataTable(djangodata);
      var options = {title: 'My Daily Activities'};
      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
</script>
    {% endblock %}
