<!-- This template extends the base.html template -->
{% extends 'temps/base.html' %}
    {% block content %}
    {% load staticfiles %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'temps/js/jquery.js' %}"></script>

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> {{ batch.batch_name }}</h3>
                    <p>
                        {% if ct.current_batch_id_id == batch.id %}
                            <p> This is the current running batch </p>
                            <button class="btn btn-danger" id="start_stop" status="started" batch-id="{{ batch.id }}" type="button">
                                Stop Batch
                            </button>
                        {% else %}
                            <button class="btn btn-success" id="start_stop" status="stopped" batch-id="{{ batch.id }}" type="button">
                                Start Batch
                            </button>
                        {% endif %}
                        <a href="/temps/edit_batch/{{batch.id}}" type="button" class="btn btn-info" role="button">Edit Batch</a>
                    </p>
                </div>
                <div class="panel-body">
                    {% include 'temps/chart_container.html' %}
                </div>
            </div>
        </div>
    {% endblock %}
